header {
  width: 100%;
}
header > * {
  vertical-align: bottom;
}

h2 {
    color: black;
}

div.ex1 {
    width: 100%;
    margin: auto;
  }

div.facts {
    width: auto;
    background-color: lightgray;
    border: 3px solid grey;

    margin: 5px;
    padding: 5px;
    height: 250px;
    overflow: auto;
    text-align: justify;
  }

  blockquote {
    border-left: none;
    color: black;
  }

